# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASS=
ADMIN_EMAIL=digitalserviceindia84@gmail.com

# WhatsApp Configuration (Twilio)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
ADMIN_WHATSAPP_NUMBER=whatsapp:+917006579275

# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BC2F3-qn7u8AYKdqDSxY9ZMWRVqBYsd9e3lGQFX9jqpAid1SrmFISUM4BHAeBL6HP7QIKRId70iOu7stL5XeTf8
VAPID_PRIVATE_KEY=OHBS3fnZkhZpxivIspusKK79gq6f8D8OTeNvGZYkYdI
VAPID_SUBJECT=mailto:digitalserviceindia84@gmail.com

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_live_SYhQAJjpxJPo6G
RAZORPAY_KEY_SECRET=5XZfzRKvpwfDgysFXEECR4q7
VITE_RAZORPAY_KEY_ID=rzp_live_SYhQAJjpxJPo6G
