# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASS=
ADMIN_EMAIL=digitalserviceindia84@gmail.com

# WhatsApp Configuration (Twilio)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
ADMIN_WHATSAPP_NUMBER=whatsapp:+917006579275
